<!DOCTYPE html>
<html ng-app="ruppApp">
  <head ng-controller="HeadCtrl">
    <%- rupp.newrelic.getBrowserTimingHeader() %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-21841224-4', 'auto');
      ga('require', 'displayfeatures');
      ga('require', 'linkid', 'linkid.js');
      ga('send', 'pageview');
    </script>
    <title>Rate UP Professors!</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="fragment" content="!" />

    <!--<p ng-bind="meta.page_title"></p>
    <p>{{meta.page_title}}</p>-->
    <!-- Facebook Meta -->

    <meta property="og:title" content="{{meta.title}}">
    <meta property="og:site_name" content="Rate UP Professors!">
    <!--<meta property="og:url" content="{{meta.url}}">-->
    <meta property="og:description" content="{{meta.description}}">
    <meta property="og:image" content="{{meta.image}}">

    <link rel="stylesheet" href="/linker/styles/bootstrap.min.css?v=<%- assetVersion %>">
    <link rel="stylesheet" href="/linker/styles/social-buttons-3.css?v=<%- assetVersion %>">
    <link rel="stylesheet" href="/linker/styles/styles.css?v=<%- assetVersion %>">
    <link rel="stylesheet" href="/linker/styles/variables.css?v=<%- assetVersion %>">

    <link href="/bower_components/pace/themes/pace-theme-minimal.css?v=<%- assetVersion %>" rel="stylesheet" />
    <link href="/bower_components/font-awesome-4.1.0/css/font-awesome.min.css?v=<%- assetVersion %>" rel="stylesheet" />

  </head>

  <body>
    <div class="site-wrapper" ng-controller="NavBarCtrl">
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ui-sref="rupp.index">Rate UP Professors</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><a ui-sref="rupp.topProfessors">All Professors</a></li>
            <li><a ui-sref="rupp.needReview">Professors Needing Review</a></li>
              <li><a ui-sref="rupp.addProfessor">Add Professor</a></li>
            <form class="navbar-form navbar-left">
              <input type="text" class="form-control col-lg-8" ng-model="asyncSelected" placeholder="Search Professor"
                     typeahead="professors.name for professors in findProfessor($viewValue) | filter:$viewValue"
                     typeahead-on-select="selectProfessor($item, $model, $label)">
            </form>
            <ul class="nav navbar-nav navbar-right">
              <li><a ui-sref="rupp.index">Contact</a></li>
              <li><a ui-sref="rupp.index">Coming Soon</a></li>
            </ul>
          </ul>
        </div>
      </div>
      <div ui-view>
        <%- body %>
      </div>
    </div>

    <script src="/bower_components/pace/pace.js?v=<%- assetVersion %>"></script>
    <script src="/bower_components/angular/angular.js?v=<%- assetVersion %>"></script>
    <script src="/bower_components/angular-seo/angular-seo.js?v=<%- assetVersion %>"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js?v=<%- assetVersion %>"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js?v=<%- assetVersion %>"></script>
    <script src="/bower_components/holderjs/holder.js?v=<%- assetVersion %>"></script>
    <script src="/bower_components/angularjs-facebook-sdk/dist/angularjs-facebook-sdk.min.js?v=<%- assetVersion %>"></script>
    <script src="/linker/js/controller.js?v=<%- assetVersion %>"></script>
    <script src="/linker/js/directive.js?v=<%- assetVersion %>"></script>
    <script src="/linker/js/rupp.js?v=<%- assetVersion %>"></script>
    <script src="/linker/js/service.js?v=<%- assetVersion %>"></script>
    </body>
</html>
